* {
	margin: 0;
	padding: 0;
	line-height: 0;
	border: 0;
}

body, html {
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	color: #5e332b;
}

.wrapper {
	margin: 128px auto;
	width: 640px;
	text-align: center;
	padding: 64px 0;
	background: url('transparent.png');
}

p {
	font-size: 16px;
	line-height: 27px;
}

p.heading {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin: 64px 0 16px 0;
}

a {
	color: #6a453e;
}

a:hover {
	text-decoration: none;
}

.links {
	margin-top: 32px;
}